body {
    border-color: black;
    width: 400px;
    height: 300px;
    margin: auto;
    border-radius; 200px;
}

section {
    border: solid 5px black;
}


header {
    color: white;
    background-color: red;
    border: solid black 2px;
    text-align: center;
    margin: 0px;
}
h1 {
    margin: 0px;
}
main {
    text-align: center;
}

.mynameis {
    font-size: 30px;
}

.myButton {
    text-align: center;
    color: red;
}